<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" aria-describedby="wrap-table" >
    <ng-content></ng-content>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data</td>
    </tr>

    <ng-container matColumnDef="paginator">
      <td mat-footer-cell *matFooterCellDef colspan="10">
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['paginator']"></tr>
  </table>
</div>
