<div [hidden]="!data">
  <app-wrapper-table [dataSource]="dataSource" [columns]="displayedColumns"
                     [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                     matSort #sort="matSort">

    <ng-container matColumnDef="pseudo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pseudo</th>
      <td mat-cell *matCellDef="let element"> {{element.pseudo}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Age</th>
      <td mat-cell *matCellDef="let element"> {{element.age}}</td>
    </ng-container>

  </app-wrapper-table>
</div>
<div [hidden]="data" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
